<a href="https://colab.research.google.com/github/ddaddaradda/BigData_practice/blob/main/part02_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## 1.1 Top10 구하기
- boston 데이터 세트의 MEDV 칼럼에 대해서 가장 작은 값부터 순서대로 10개 행을 출력해야 한다. 즉, 오름차순으로 정렬된 MEDV 값에서 Top10을 구하시오.

In [34]:
data_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/boston.csv'
df = pd.read_csv(data_url)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
ans = df.sort_values(by = 'MEDV', ascending = True)

In [8]:
ans.head(10)['MEDV']

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

## 1.2 결측치 확인하기
- boston 데이터 세트의 RM칼럼에 대한 결측치 처리를 평균값으로 대치하거나 삭제할 수 있다. RM 칼럼의 결측치를 평균값으로 대치한 후에 산출된 표준편차 값과 결측치를 삭제한 후에 산출된 표준편차 값의 차이를 구하시오. 단, 최종적으로 출력하는 차이는 양수이다.

In [10]:
df.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [11]:
df_rm = df['RM'].copy()

In [16]:
rm_mean = df_rm.mean()

In [19]:
rm_mean

6.285101832993889

In [26]:
df_rm.fillna(rm_mean, inplace= True )

In [28]:
df_del = df['RM'].copy()

In [29]:
df_del.dropna(inplace = True)

In [31]:
abs(df_rm.std() - df_del.std())

0.010595546094104513

## 1.3 이상값 확인

- boston 데이터 세트의 ZN 칼럼을 대상으로 ZN 값의 평균값에서 표준편차의 1.5배보다 크거나 작은 ZN값의 합계를 구하시오.

In [35]:
df = pd.read_csv(data_url)

In [39]:
ZN_mean = df.ZN.mean()

In [40]:
ZN_std = df.ZN.std()

In [41]:
ZN_max = ZN_mean + 1.5 * ZN_std
ZN_min = ZN_mean - 1.5 * ZN_std

In [47]:
df['ZN']>ZN_max

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: ZN, Length: 506, dtype: bool

In [57]:
ZN_new = df.loc[(df['ZN'] > ZN_max) | (df['ZN'] < ZN_min) ]
ZN_new

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
39,0.02763,75.0,2.95,0,0.4280,6.595,21.8,5.4011,3,252,18.3,395.63,4.32,30.8
40,0.03359,75.0,2.95,0,0.4280,7.024,15.8,5.4011,3,252,18.3,395.62,1.98,34.9
54,0.01360,75.0,4.00,0,0.4100,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9
55,0.01311,90.0,1.22,0,0.4030,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4
56,0.02055,85.0,0.74,0,0.4100,6.383,35.7,9.1876,2,313,17.3,396.90,5.77,24.7
57,0.01432,100.0,1.32,0,0.4110,6.816,40.5,8.3248,5,256,15.1,392.90,3.95,31.6
65,0.03584,80.0,3.37,0,0.3980,6.290,17.8,6.6115,4,337,16.1,396.90,4.67,23.5
66,0.04379,80.0,3.37,0,0.3980,5.787,31.1,6.6115,4,337,16.1,396.90,10.24,19.4
193,0.02187,60.0,2.93,0,0.4010,6.800,9.9,6.2196,1,265,15.6,393.37,5.03,31.1
194,0.01439,60.0,2.93,0,0.4010,6.604,18.8,6.2196,1,265,15.6,376.70,4.38,29.1
195,0.01381,80.0,0.46,0,0.4220,7.875,32.0,5.6484,4,255,14.4,394.23,2.97,50.0
196,0.04011,80.0,1.52,0,0.4040,7.287,34.1,7.3090,2,329,12.6,396.90,4.08,33.3
197,0.04666,80.0,1.52,0,0.4040,7.107,36.6,7.3090,2,329,12.6,354.31,8.61,30.3
198,0.03768,80.0,1.52,0,0.4040,7.274,38.3,7.3090,2,329,12.6,392.20,6.62,34.6
199,0.03150,95.0,1.47,0,0.4030,6.975,15.3,7.6534,3,402,17.0,396.90,4.56,34.9
200,0.01778,95.0,1.47,0,0.4030,7.135,13.9,7.6534,3,402,17.0,384.30,4.45,32.9
201,0.03445,82.5,2.03,0,0.4150,6.162,38.4,6.2700,2,348,14.7,393.77,7.43,24.1
202,0.02177,82.5,2.03,0,0.4150,7.610,15.7,6.2700,2,348,14.7,395.38,3.11,42.3
203,0.03510,95.0,2.68,0,0.4161,7.853,33.2,5.1180,4,224,14.7,392.78,3.81,48.5
204,0.02009,95.0,2.68,0,0.4161,8.034,31.9,5.1180,4,224,14.7,390.55,2.88,50.0
254,0.04819,80.0,3.64,0,0.3920,6.108,32.0,9.2203,1,315,16.4,392.89,6.57,21.9
255,0.03548,80.0,3.64,0,0.3920,5.876,19.1,9.2203,1,315,16.4,395.18,9.25,20.9
256,0.01538,90.0,3.75,0,0.3940,7.454,34.2,6.3361,3,244,15.9,386.34,3.11,44.0
283,0.01501,90.0,1.21,1,0.4010,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,50.0
284,0.00906,90.0,2.97,0,0.4000,7.088,20.8,7.3073,1,285,15.3,394.72,7.85,32.2
285,0.01096,55.0,2.25,0,0.3890,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0
286,0.01965,80.0,1.76,0,0.3850,6.230,31.5,9.0892,1,241,18.2,341.60,12.93,20.1
287,0.03871,52.5,5.32,0,0.4050,6.209,31.3,7.3172,6,293,16.6,396.90,7.14,23.2
288,0.04590,52.5,5.32,0,0.4050,6.315,45.6,7.3172,6,293,16.6,396.90,7.60,22.3
289,0.04297,52.5,5.32,0,0.4050,6.565,22.9,7.3172,6,293,16.6,371.72,9.51,24.8
290,0.03502,80.0,4.95,0,0.4110,6.861,27.9,5.1167,4,245,19.2,396.90,3.33,28.5
291,0.07886,80.0,4.95,0,0.4110,7.148,27.7,5.1167,4,245,19.2,396.90,3.56,37.3
292,0.03615,80.0,4.95,0,0.4110,6.630,23.4,5.1167,4,245,19.2,396.90,4.70,27.9
298,0.06466,70.0,2.24,0,0.4000,6.345,20.1,7.8278,5,358,14.8,368.24,4.97,22.5
299,0.05561,70.0,2.24,0,0.4000,7.041,10.0,7.8278,5,358,14.8,371.58,4.74,29.0
300,0.04417,70.0,2.24,0,0.4000,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
343,0.02543,55.0,3.78,0,0.4840,6.696,56.4,5.7321,5,370,17.6,396.90,7.18,23.9
344,0.03049,55.0,3.78,0,0.4840,NaN,28.1,6.4654,5,370,17.6,387.97,4.61,31.2
347,0.01870,85.0,4.15,0,0.4290,6.516,27.7,8.5353,4,351,17.9,392.43,6.36,23.1
348,0.01501,80.0,2.01,0,0.4350,6.635,29.7,8.3440,4,280,17.0,390.94,5.99,24.5
351,0.07950,60.0,1.69,0,0.4110,6.579,35.9,10.7103,4,411,18.3,370.78,5.49,24.1
352,0.07244,60.0,1.69,0,0.4110,5.884,18.5,10.7103,4,411,18.3,392.33,7.79,18.6
353,0.01709,90.0,2.02,0,0.4100,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1
354,0.04301,80.0,1.91,0,0.4130,5.663,21.9,10.5857,4,334,22.0,382.80,8.05,18.2
355,0.10659,80.0,1.91,0,0.4130,5.936,19.5,10.5857,4,334,22.0,376.04,5.57,20.6

In [56]:
sum(ZN_new['ZN'])

3462.5

## 1.4 사분위수 구하기
- boston 데이터 세트에서 CHAS 칼럼과 RAD칼럼을 제외한 칼럼에 한해서 칼럼별 IQR 값을 구하시오. 단, 출력구조는 2열이고 1열은 보스턴 데이터 세트의 칼럼 이름이 표시된다.

In [58]:
df = pd.read_csv(data_url)

In [59]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [63]:
df_new = df[['CRIM', 'ZN', 'INDUS',  'NOX', 'RM', 'AGE', 'DIS',  'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']]

In [64]:
df_new

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.573,6.593,69.1,2.4786,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.573,NaN,76.7,2.2875,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.573,6.976,91.0,2.1675,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.573,6.794,89.3,2.3889,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.573,6.030,80.8,2.5050,273,21.0,396.90,7.88,11.9

In [68]:
df75 = df_new.quantile(0.75)

In [69]:
df25 = df_new.quantile(.25)

In [70]:
iqr =df75 - df25
iqr

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

## 1.5 순위 구하기
- boston 데이터 세트의 MEDV 칼럼을 기준으로 30번째로 큰 값을 1번 ~ 29번째로 큰 값에 적용한다. 그리고 MEDV 칼럼의 평균값, 중위값, 최소값, 최댓값 순으로 한줄에 출력하시오

In [109]:
df = pd.read_csv(data_url)

In [110]:
ans = df.MEDV.sort_values( ascending= False)

In [111]:
value = ans.iloc[30]
value

41.3

In [112]:
ans.iloc[:29] = value

In [117]:
ANS = ans.agg(['mean','median', 'min','max'])

In [119]:
print(ANS[0],ANS[1],ANS[2],ANS[3])

22.15671936758893 21.2 5.0 41.7